header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo-img {
  height: 10rem;
}

.header__nav > .container {
  max-width: 120rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
  background-color: var(--primary-color);
}

.header__navbar--left {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  align-items: center;
  padding: 1.6rem;
  gap: 2rem;
}

.header__navbar--right {
  display: flex;
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  align-items: center;
  padding: 1.6rem;
  gap: 2rem;
}

.header__navbar-item > a {
  color: var(--white-color);
}

.header__navbar-item > a:hover {
  color: var(--secondary-color);
}