.payment {
  max-width: 60rem;
  width: 100%;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.payment__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.payment__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.payment__label {
  font-size: 1.6rem;
  color: #333;
}

.payment__input-group {
  display: flex;
  align-items: center;
}

.payment__label--radio {
  margin-left: 0.8rem;
}

.payment__input {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.payment__button {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.payment__button:hover {
  background-color: var(--secondary-color);
}
